/* ----------------------- Mobile first design styling --------------------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
}

body {
    font-family: "asap";
    background-color: #D7AB6B;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h3, h2 {
	font-size: 26px;
    text-align: center;
    padding-bottom: 5px;
    color: #111111;
}

h4 {
    color: #111111;
    display: inline;
	font-size: 22px;
	padding-bottom: 10%;
}

h6 {
	color: #111111;
	font-size: 18px;
}

p {
    color: #111111;
    /* display: inline; */
	font-size: 18px;
	margin-bottom: 8px;
}

/*----------- Main quote on about page ------------------*/
.aboutTextCentered {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

/* -------------Feedback text area ----------------------*/
#feedbackText {
	display: block;
}

/* ------------ images for home/about page ------------- */
img.homePageMainImage {
	width: 100%;
	border-radius: 12px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.aboutPageImage, img.homePageSmallImages {
	width: 30%;
	border-radius: 12px;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

/* Style the images into a grid on the home-page */
.rowImageGrid {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.columnImageGrid {
	flex: 25%;
	padding: 0 4px;
}

.columnImageGrid img {
	margin-top: 8px;
	vertical-align: middle;
	border-radius: 5px;
}

/* ------------- Center logo and set width ------------- */
img.logo{
	width: 40%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* -------------styling for nav bar ------------- */
nav{
	background: #8D5A49;
    padding: 10px 20px;
    /* border-radius: 12px; */
}

/*---------------------- Style Dropdown Menu ------------------------------*/
ul {
    list-style-type: none;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.toggle {
    order: 1;
}
.toggle a {
    font-size: 30px;
	color: black;
}
.item.button {
    order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}
.button a {
	color: #afa28c;
	display: inline;
	font-size: 26px;
	background-color: #794e3ffc;
	border-radius: 12px;
	text-decoration: none;
	padding: 8px;
}
/*---------------------------------------------------------------------------*/

/*----------------------Style Input Form------------------------------------*/
.postInputToggle {
	padding: 10px;
	height: auto;
	background-color: #794e3ffc;
	font-size: 26px;
	color: #afa28c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 12px;
	border-color: #794e3ffc;
}
.postInputToggle:active {
	background-color: #422b23fc;
}

/* id is used for Keiths Javascript part - not the css */
#inputForm {
    display: none;
}

/* Same style for both html tags */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }

select {
	width: 100%;
	/* padding: 12px; */
    border-radius: 4px;
    resize: vertical;
}
  
  /* Name of the input box */
  label {
	font-family: "asap";
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* instead of button use submit for the form */
  input[type=submit] {
    background-color: #8D5A49;
    color: #afa28c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container {
    background-color: #D7AB6B;
    padding: 20px;
  }
  
  .bookInfoInputHeadings {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .bookInfoInputBox {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .bookInfoInputRow:after {
    content: "";
    display: table;
    clear: both;
  }
/* ---------------------------------------------------------------------------------- */

/* Product information styling */
.productsInfo {
    padding: 7.5px 35px;
    color: #afa28c;
    border: 1px #111111 solid;
    border-radius: 3px;
}

/* Handle styling for all of the button types */
.favoriteButton, .buyButton, .emailGiftVoucherButton {
	padding: 10px;
	height: auto;
	background-color: #794e3ffc;
	font-size: 26px;
	color: #afa28c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 12px;
	border-color: #794e3ffc;
	display: inline;
}

#postNameButton {
	padding: 10px;
	height: auto;
	background-color: #794e3ffc;
	font-size: 26px;
	color: #afa28c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 12px;
	border-color: #794e3ffc;
}

#leftColCard {
	text-align: left;
}

/* Left column */
.leftcolumn, .rightColumn {
	width: 100%;
	padding: 0%
}

/* Handle all image styling */
.postImageDisplayed {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 20px;
}

.bookImage {
    background-color: #aaa;
    width: 200px;
    height: 250px;
  }

/* Add  card effects for the different article cards needed */
.card {
	background-color: #8D5A49;
	padding: 13px;
	margin-top: 20px;
	/* border-radius: 12px; */
	border-color: #8D5A49;
}

.bookCoversCard, .socialCard, .favoriteCard, .addressCard{
	background-color: #8D5A49;
	padding: 13px;
	margin-top: 20px;
	/* border-radius: 12px; */
	border-color: #8D5A49;
	text-align: center;
}

.addressCard {
	text-align: left;
}

.address {
	color: #111111;
	font-size: 16px;
	display: block;
}

.officeHours {
	color: #111111;
	font-size: 16px;
	display: block;
}

.bookCard {
    background-color: #D7AB6B;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.row{
	text-align: center;
}
/* Create table after row to keep spacing */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Popular post images */
img.popularPostImages {
	width: 100px;
    height: 120px;
    text-align: left;
	border-radius: 5px;
	display: inline-block;
}

/* Create popular post & socials section */
a.socials{
    display: inline-flex;
	padding: inherit;
    height: 120px;
    align-items: center;
	margin: 5px;
}

.popularPosts{
	padding: inherit;
    height: 120px;
   	align-items: center;
	text-align: center;
	margin: 5px;
}

/*----------------------- Twitter --------------------*/
.twitter__bird {
    margin-left: auto;
    margin-right: auto;
	color: #6699FF;
    font-size: 5em;
}
/*------------------------------------------------------*/

/*----------------------- Facebook --------------------*/
.facebook__logo {
    margin-left: auto;
    margin-right: auto;
	color: #3b5998;
    font-size: 5em;
}
/*------------------------------------------------------*/

/*----------------------- Instagram --------------------*/
.Instagram__logo {
    margin-left: auto;
    margin-right: auto;
	color: #C13584;
    font-size: 5em;
}
/*------------------------------------------------------*/

/* ---------------------- Footer for Pages (W3 schools help) ------------------------- */

footer {
	position: absolute;
}

.footer {
	margin-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #8D5A49;
	color: #111111;
	text-align: center;
	border-radius: 12px;
	border-color: #8D5A49;
}

.footer-distributed{
	background-color: #794e3ffc;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 20px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

.footer-distributed .footer-center i{
	margin-left: 0;
}

.footer-distributed .footer-links{
	color:  #111111;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  #111111;
}

/* Footer Center Styling */
.footer-distributed .footer-center i{
	background-color:  #111111;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 22px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #111111;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}

/* Right side of footer, links to socials */
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #111111;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
/* footer icons from font-awesome */
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #794e3ffc;
	border-radius: 2px;
 
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 20px;
	margin-bottom: 5px;
}

.twitter__footer {
	color: #6699FF;
}

.facebook__footer {
	color: #3b5998;
}

.instagram__footer {
	color: #C13584;
}
/* ---------------- END OF FOOTER----------------- */

/* ----------------------- Desktop design styling --------------------------------------------- */
@media only screen and (min-width: 600px) {
	/* Remove toggle when nav bar is longer (desktop mode) & make nav bar buttons display in a block*/
	.toggle{
		display: none;
	}
	.item {
		display: block;
	}
	.item.button {
		width: inherit;
		order: 1;
		display: block;
	}
	/* --------------- on hover (desktop can handle far more stylised events than mobiles) */
	a.socials:hover {
		cursor: pointer;
		letter-spacing: 3px;
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
		transform: scale(1.5);
		transition: all 0.4s ease 0s;
	}
	.popularPostImages:hover, .bookImage:hover, img.aboutPageImage:hover, .columnImageGrid img:hover {
		transform: scale(1.5);
		transition: all 0.4s ease 0s;
	}
	.button a:hover {
		cursor: pointer;
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 1);
		border-radius: 12px;
		transition: all 0.4s ease 0s;
		background-color: #4d3229fc;
		border-color: #4d3229fc;
		letter-spacing: 1px;
	}
	.favoriteButton:hover, .buyButton:hover, .emailGiftVoucherButton:hover {
		cursor: pointer;
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 1);
		border-radius: 12px;
		transition: all 0.4s ease 0s;
		background-color: #4d3229fc;
		border-color: #4d3229fc;
		letter-spacing: 1px;
	}
	.postInputToggle:hover {
		cursor: pointer;
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 1);
		border-radius: 12px;
		transition: all 0.4s ease 0s;
		background-color: #4d3229fc;
		border-color: #4d3229fc;
		letter-spacing: 1px;
	}
	#postNameButton:hover {
		cursor: pointer;
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 1);
		border-radius: 12px;
		transition: all 0.4s ease 0s;
		background-color: #4d3229fc;
		border-color: #4d3229fc;
		letter-spacing: 1px;
	}
	img.logo:hover {
		cursor: pointer;
		width: 41%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		transition: all 0.4s ease 0s;
	}
	/* --------------- Hover Style END -------------------- */
	/* Move colums apart when width is desktop */
	.leftcolumn {
		float: left;
		width: 75%;
	}
	.rightcolumn {
		float: left;
		width: 25%;
		padding-left: 20px;
	}
	/* restyle all cards so they look better in desktop mode */
	a.socials {
		padding: 10px;
		height: 120px;
		align-items: center;
		margin: inherit;
	}
	a.favoriteBooks {
		padding: 10px;
		height: 120px;
		display: block;
		align-items: left;
		margin: inherit; 
	}
	.popularPosts {
		padding: 10px;
		height: 120px;
		align-items: center;
		margin: inherit;
		display: table-row;
	}
	.socials {
		padding: 10px;
		height: 120px;
		align-items: center;
		margin: inherit;
		display: table-row;
	}
	.card, .socialCard,
	.bookCoversCard, .bookCard,
	.addressCard, .favoriteCard {
		border-radius: 8px;
	}
	/* -------------- make all nav bar items/buttons line up and incrase button font size */
	.menu{
		justify-content: center;
	}
	li.item.button{
		padding: 30px;
		
	}
	.button a{
		font-size: 30px;
	}
	/* -------------- Unstack footer --------------------- */
	footer {
		position: static;
	}
	.footer-distributed .footer-left {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
	.footer-distributed .footer-center {
		display: inline-block;
		vertical-align: top;
		width: 35%;
	}
	.footer-distributed .footer-right {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
	.footer-distributed .footer-links a:hover{
		transform: scale(1.1);
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
		transition: all 0.4s ease 0s;
	}
	.footer-icons a:hover {
		transform: scale(1.4);
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
		transition: all 0.4s ease 0s;
	}
}

/* ------------------ Desktop Responsiveness END ------------------- */

/* ----------- buy a book ---------------------- */
/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	border-radius: 8px;
	z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
	max-width: 300px;
	padding: 10px;
	border-radius: 8px;
	background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
	border-radius: 8px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: red;
	border-radius: 8px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

  /* -------------- Buy Book Style End ------------------------------- */

 /* ----------------------- GOOGLE MAP ----------------------- */
 .map {
	height: 400px; 
	width: 100%; 
}

p.map {
	height: 300px; 
	width: 40%; 
}

/* ----------------------- END OF MAP STYLING ---------------------- */


